<nb-layout windowMode>
  <nb-layout-header fixed *ngIf="!isHidden">
    <archer-header style="width: 100%"></archer-header>
  </nb-layout-header>

  <!-- <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar> -->

  <nb-layout-column style="padding: 0; height: 100%">
    <div
      class="app_loading_start"
      [nbSpinner]="isLoading"
      nbSpinnerStatus="primary"
      *ngIf="isLoading"
    ></div>
    <ng-content
      select="router-outlet"
      style="padding: 0; height: 100%"
    ></ng-content>
  </nb-layout-column>
  <nb-layout-footer *ngIf="!isHidden">
    <archer-footer></archer-footer>
  </nb-layout-footer>
</nb-layout>
